
<div class="jumbotron home-jumbotron">
    <h1 class="text-center">Welcome to Porto's App</h1>
    <p class="lead text-center">A simple web app.</p>
</div>
<%= render partial: 'shared/alert' %>
<%= render partial: 'shared/notice' %>