<%= render partial: 'shared/notice' %>
<h1>Ingredient List</h1>
<%= link_to_button 'Add Ingredient', new_ingredient_path, 'btn-primary' %>
<table class='table'>
  <thead>
  <tr>
    <th>Ingredient</th>
    <th colspan="2">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%=  ingredient.name %></td>
        <td><%= link_to 'Edit', edit_ingredient_path(ingredient) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br/>


